body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;   
    text-align: center; 
}

h1 {
    margin: 0;
}

.body {
    font-size: 100px;
}

#wrapper {
    width: 600px;
    height: 600px;
    margin: 20px auto;
}

.rows {
    width: 600px;
    height: 199px;
}

.squares {
    width: 195px;
    height: 197px;
    border: 1px solid black;
    float: left; 
    font-size: 120px;   
}

.btn {
    font-size: -webkit-xxx-large;
    border-radius: 5px;
    background: #0ee50e;
    color: white;
    padding: 7px;
    box-shadow: 1px 1px 5px 1px black;
    border: 1px solid darkgreen;
}
